<div class="row container-fluid">
    <div class="col-xs-1">

    </div>
    <div class="col-xs-10">
        <div class="pull-right">
            <button class="btn" href aria-hidden="true" data-toggle="modal" data-target="#createFederate" style="background-color:#000000;color:#ff8800">Create a Federate</button>
        </div>
        <create-federate></create-federate>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-xs-1">Name</th>
                    <th class="col-xs-2">Federation</th>
                    <th class="col-xs-2">FOM</th>
                    <th class="col-xs-2">Strategy</th>
                    <th class="col-xs-1">Time</th>
                    <th class="col-xs-2"></th>
                    <th class="col-xs-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="federate in federates">
                    <td>{{federate.name}}</td>
                    <td>{{federate.federation}}</td>
                    <td>{{federate.fom}}</td>
                    <td>{{federate.strategy}}</td>
                    <td>{{federate.time}}</td>
                    <td>
                        <span class="glyphicon glyphicon-edit" style="color:green"></span>
                        <button class="btn btn-sm" style="position:relative;top:-1px;padding:0;background:transparent;color:green" ng-click="run(federate)">{{federate.startOrPause}}</button>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-trash" style="color:#a94442"></span>
                        <button class="btn btn-sm" style="position:relative;top:-1px;padding:0;background:transparent;color:#a94442" ng-click="delete(federate)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-1">

    </div>
</div>

<input type="file" id="fileToUpload" name="fileToUpload" onchange="angular.element(this).scope().upload(this.files)" class="hide"/>
